* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
    color: #1d1d1d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs div {
    text-align: left;
    display: inline-block;
}

.main {
    width: 40%;
    text-align: center;
}

.date {
    margin-top: 30px;
}

.start,.time {
    margin-top:70px;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}

.time div {
    width:20%;
}

.time p{
    font-size: 60%;
}

.date-input,.event-input,.time-input {
    border-radius: 6px;
    height:40px;
    font-size: 15px;
}

.start button{
    font-size: 42px;
    font-weight: 600;
    padding: 3px 55px;
    background-color: #5CA564;
    border: none;
    color: #fff;
}

@media (max-width: 940px) {
    .main {
        width:80%;
    }
}